@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

  .social-buttons {
  	margin: 0 auto;
    max-width: 320px;
  }

  .social-buttons button{
  	display: block;
  	margin: 5% auto;
  }
 
}
.hidden {
    visibility: hidden;
  }

  .signin-footer-helper-links {
    text-align: center;
    max-width: 70%;
    margin: 0 15%;
  }
  .signin-footer-helper-links a{
    float: right;
  }
  .signin-footer-helper-links a:first-child{
    float: left;
  }
